
.row{
  padding-top: 8%;
}

.nopadding {
 padding:0px;
 }
 
 .button {
    margin-bottom: 0px;
  }
  
.centered a{
  display: block;
  margin-left: 15px auto;
  margin-right: 15px auto;
 }


#page1{
  background-image:url('../img/countryside.jpg');
  background-repeat: no-repeat;
  background-color: lightgreen;
 }
#page2{
  background-image:url('../img/zelda.png');
  background-repeat:repeat-y;
}
#page3{
  background-color: #ddd;  
}
.fullpage{
  background-position:50% 0px; 
  height:100%;
}

footer {
   /*position: relative;*/
}

.center {
    margin: auto;
    text-align:center;
    vertical-align: middle;
}

div.button {
   height:60px;
}

tr,td {
 border: 1px solid black;
 padding: 0;
}

td div.button{
   height: 70px;
   width:70px;
   padding:0;
}

td div.button span{
  vertical-align: middle;
  text-align:center;
  margin: auto;
  position: relative;
  top: 29px;
}

rect {
   stroke:#e0e0e0;
   stroke-width:1px;
}

#winlossHolder div{
    height:100%;
    display:inline-block;
    margin-left: -2px;
     margin-right: -2px; 
}

#winlossHolder{
 height:10px;
 margin: 1.25rem 0 1.1875rem;
}

#movesChart {
   background-color: white;
}

svg text{
   font: normal 12px Arial;
}

.line {
  fill: none;
  stroke: #133769;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
  stroke-opacity:0.75;
}
